body {
    background-color: white;
    font-family: 'Merriweather', serif;
    margin: 0;
    opacity: 1;
    background-image:  linear-gradient(#e9e9e9 2px, transparent 2px), linear-gradient(90deg, #e9e9e9 2px, transparent 2px), linear-gradient(#e9e9e9 1px, transparent 1px), linear-gradient(90deg, #e9e9e9 1px, #ffffff 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#main-content {
    margin-top: 100px !important;
    width: 95%;
    max-width: 900px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
    padding: 5px;
    /* border: 1px solid rgb(141, 141, 141); */
}

#main-content p, #main-content ol {
    text-align: left;
}

#main-content p a {
    color: blue;
}


#search-results {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
    column-gap: 3px;
    row-gap: 3px;
}

#search-results img {
    max-height: 200px;
    max-width: 100%;
    margin: auto;
}

.patent-drawing {
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
}

/* #search-results img {
    width: 100%;
} */



footer {
    padding-top: 50px;
    padding-bottom: 30vh;
    text-align: center;
}
#huggards {
    font-family: 'Merriweather', serif;
    letter-spacing: normal;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    width: 250px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 30px;
    padding: 5px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    cursor: pointer;
    transition: 0.5s;
}
#huggards:hover {
    color: black;
    border: 2px solid black;
}