header {
    background-color: white;
    display: grid;
    grid-template-columns: 420px 1fr 500px;
    position: fixed;
    top: 0;
    width: 100vw;
}

#site-title, #site-subtitle {
    margin: 0;
    text-align: center;
}

#site-nav {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#site-nav a {
    margin-top: 20px;
}