header {
    background-color: white;
    display: grid;
    grid-template-columns: 420px 1fr 500px;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgb(141, 141, 141);
}

header a {
    text-decoration: none;
    color: black;
}

header a:hover {
    color: blue;
}

#site-title, #site-subtitle {
    margin: 0;
    text-align: center;
}

#site-title {
    line-height: 70%;
    margin-top: 5px;
}

#site-nav {
    width: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#site-nav a {
    padding-top: 15px;
}

#site-nav a:hover {
    font-weight: bold;
}